<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Experiences.</h1>

    <ul>
      {% for experience in all_items %}
        <li>{{ experience.content }},{{experience.id}}
          <form action="/delete_experience/{{experience.id}}"
                style="display: inline;"
                method="post">{% csrf_token %}
            <input type="submit" value="Delete"/>
          </form>
        </li>
      {% endfor %}
    </ul>

    <form action="add_experience" method="post">{% csrf_token %}
      <input type="text" name="title"/>
      <input type="text" name="content"/>
      <input type="submit" value="Add"/>
    </form>
  </body>
</html>
