{% extends 'supp.html' %} {% block content %}
{% load staticfiles %}
<div id="j_back" class="jumbotron">
  <div class="container">
    <h1>{{ experience.title }}</h1>
    <p>
      {{experience.content}}
    </p>
    <br>
    <div class="clearfix">
    <br>
    <span class="float-left">
      <div class="button_cont float-right element" id="plc">
        {% if user.is_authenticated%}
        <form action="/like_specific/{{experience.id}}" style="display: inline;" method="post">{% csrf_token %}
        <button class="like" > <span> <img id="like" src="{% static "h_a.png" %}"><p>{{experience.likes}}</p></button>
        </form>
        {% else %}
        <button class="like" > <span> <img id="like" src="{% static "h_a.png" %}"><p>{{experience.likes}}</p></button>
        <p>Sign in to like</p>
        {% endif %}
      </div>
    </span>
  </div>
</div>
</div>
{% endblock %}
