{% extends 'supp.html' %} {% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
    <div class="container signup-container">
      <div class="jumbotron">
        {% if registered %}
        <h1 class="nav-title">You are now registered!</h1>
        {% else %}
        <h2 class="nav-title">Complete the Form to Register</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ user_form | crispy }}
          <input type="submit" name="" value="register">
        </form>
        {% endif %}
      </div>
   </div>
{% endblock %}
