<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container signup-container">
      <div class="jumbotron">
        {% if registered %}
        <h1 class="nav-title">You are now registered!</h1>
        {% else %}
        <h1 class="nav-title">Complete the Form Below</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ user_form | crispy }}
          <input type="submit" name="" value="register">
        </form>
        {% endif %}
      </div>
   </div>
  </body>
</html>
